version: '2.1'

services:
    zk:
        image: zookeeper:latest
        healthcheck:
            test: ["nc", "-z localhost 2181"]
        ports:
            - "2181:2181"
    rds:
        image: redis:latest
        healthcheck:
            test: ["nc", "-z localhost 6379"]
        ports:
            - "6379:6379"
    webapp:
        image: sh777/cloudwms:latest
        ports:
            - "8080:8080"
            - "8009:8009"
        depends_on:
            - proxy_dep
        volumes:
            - /opt/tomcat/logs:/opt/tomcat/logs
    # This is a proxy used to block beats until all services are healthy.
    # See: https://github.com/docker/compose/issues/4369
    proxy_dep:
        image: busybox
        depends_on:
            zk:
                condition: service_healthy
            rds:
                condition: service_healthy

